<h1>Strength resultaten van <b><%= anatomy.firstName + ' ' + anatomy.lastName%></b></h1>
<code>Peoplesoft ID: <%= anatomy.peoplesoft%></code>
<hr class="mb-5">

<form method="post" action="/strength/create" class="mb-5">
    <input type="hidden" value="<%= anatomy.id %>" name="anatomyId" />

    <div class="form-group">
        <label for="shoulderPressReps">Shoulder Press herhalingen</label>
        <input type="number" name="shoulderPressReps" class="form-control" step="0.01" id="shoulderPressReps" />
    </div>

    <div class="form-group">
        <label for="shoulderPressWeight">Shoulder Press gewicht</label>
        <input type="number" name="shoulderPressWeight" class="form-control" step="0.01" id="shoulderPressWeight" />
    </div>

    <div class="form-group">
        <label for="squatReps">Squat herhalingen</label>
        <input type="number" name="squatReps" class="form-control" step="0.01" id="squatReps" />
    </div>

    <div class="form-group">
        <label for="squatWeight">Squat gewicht</label>
        <input type="number" name="squatWeight" class="form-control" step="0.01" id="squatWeight" />
    </div>

    <div class="form-group">
        <label for="pullUpReps">Pull up herhalingen</label>
        <input type="number" name="pullUpReps" class="form-control" step="0.01" id="pullUpReps" />
    </div>

    <div class="form-group">
        <label for="coreStability">Core Stabiliteit</label>
        <input type="number" name="coreStability" class="form-control" step="0.01" id="coreStability" />
    </div>

    <input type="submit" value="Opslaan" class="btn btn-primary" />

</form>
