<form method="post" action="/company/update">

    <div class="form-group">
        <label for="name"><%= __('Name') %></label>
        <input type="text" name="name" id="name" class="form-control" value="<%= company.name %>" required />
    </div>

    <input type="submit" value="<%= __('Save') %>" class="btn btn-primary" />

</form>
