@import 'variables/colors.scss';

.tooltip-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url('/images/info-icon.png');
  background-size: contain;
  position: relative;
  top: 3px;
}
