<h1 class="display-4">INVDEF FIT</h1>
<p class="mb-4">Beheer FIT test resultaten</p>

<a href="/results" class="btn btn-light">Testresultaten</a>
<a href="/anatomies/add" class="btn btn-light">Nieuw testresultaat</a>
<a href="/admin/formulas" class="btn btn-light">Formules</a>
